extends layouts/main.pug 
include mixins/listBlock

block content 
    .lists 
        each item in lists
            +listBlock({
                id: item.id,
                title:item.title,
                views:item.views,
                listFile:item.fileUrl
            })