extends layouts/main.pug 

block content 
    h2 @context course

    h2 @home
    h2 - Flast list 

    h2 @login
    h2 - handle the uncompleted login cases
    h2 - 닉네임 중복 확인
    h2 - type fail 처리

    h2 @detail
    h2 - api calling twice ???

    h2 @ refresh
    h2 flatlist
    h2 auto

    h2 #############################
    h2 TO DO

    h2 @ edit profile
    h2 - 닉네임 중복체크

    h2 @ 유저 셋팅
    h2 - 로그아웃
    h2 - 회원탈퇴 유저삭제 api
    h2 - 이용약관

    h2 @ upload / edit profile / edit card
    h2 - textinput required field (title)
    h2 - textinput refresh after submitting on upload page

    h2 @ proptypes 

    h2 @@@ERRORS!!!!!!!! 
    h2 - useEffect warning
    h2 Warning: Can't perform a React state update on an unmounted component. 
    h2 - 디테일에서 mine 페이지로 이동시 margin-top 없애기
    h2 - 다른 유저의 기록하기 리스트에서 디테일로 갈 때 새로고침 안됨
    h2 - 대댓글 새로고침은 어떻게?
    h2 
    h2 @ refresh pages
    h2 navigation setOption ?
    h2 
    h2 @ flatlist 
    h2 
    h2 @ comment date format (~~ ago)
    h2 
    h2 @ upload 페이지 하단 바 제거
    h2 
    h2 @ edit / upload done 버튼 밑에
    h2 
    h2 @ home tab -> go to top
    h2 
    h2 @ 올바른 링크가 아닐 때 경고
    h2 
    h2 @ ios keyboardawarescrollview
