extends layouts/main.pug 
include mixins/listBlock

block content 
    .search__header 
        h3 Searching for : #{searchingBy}
    .search__lists
        each item in lists
            +listBlock({
                title:item.title,
                views:item.views,
                listFile:item.listFile
            })